body {
  margin-top: 10px;
  background-color: #f5ede9;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 18px;
}

#contenedor{
  width: 70%;
  margin: 0 auto;
  padding: 20px;
} 

#tabla{
  margin: 0 auto;
  font-size: 15px;
}

form {
  width: 68%;
  padding-left: 20px;
  padding-right: 20px;
  background-color:#ecd7ca;
  border-radius: 5px;
  max-width: 500px;
  margin: 0 auto;
  margin-bottom: 0%;
  z-index: -1;
}

h2 {
  text-align: center;
  color: rgb(53, 52, 52);
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  color: rgb(53, 52, 52);
}

#nombre,#gmail,#apellido {
  width: 90%;
  padding: 10px;
  margin-bottom: 20px;
  border: solid 2px  rgb(76, 66, 67);
  border-radius: 5px;
  font-size: 16px;
}

table{
  border-collapse: collapse;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 1%;
 
}

th, td{
  padding: 5px;
  border: 1px solid #000;
 
  
}

#mensaje{
  width: 90%;
  height: 90px;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

#c5{
  display: flex;
  justify-content: center;
}

#parrafo{
  text-align: center;
  font-size: 16px;
}

#enviar{
  width: 90%;
  padding: 10px;
  color: black;
  background-color: #f5ede9;
}

#contenedo{
  display: flex;
  justify-content: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 55px;
  border: solid 2px  rgb(76, 66, 67);
  border-radius: 15px;
  background-color:  rgb(76, 66, 67);
  padding-top: 10px;
  padding-bottom: 10px;
}

#contenedo > div{
  text-align: center;
  color:#49362e;
  border: 1px solid rgb(173, 146, 140)(46, 46, 47);
  background-color: rgb(173, 146, 140)(53, 53, 54);
  padding-top: 15px;
  padding-left: 10px;
  padding-right: 10px;
  /*border-radius: 10px;*/
}

.fondo {
  position: fixed;
  top: 5%;
  left: 10%;
  width: 80%;
  height: 100%;
  z-index: -1;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* estilos del pie de pagina */
.contf {
  background-color: rgb(76, 66, 67);
  padding: 20px;
  font-size: 14px;
  padding-top: 15px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 15px;
}

.div1 {
  display: flex;
  margin-left: 14%;
  color: rgb(173, 146, 140);
}

#div2 {
  margin-right: 26%;
  text-align: left;
}

#div3 {
  text-align: left;
}